<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Prestamos en linea</a>
      <div class="d-flex">
          <a routerLink="/dashboard" class="btn btn-primary">Administrar solicitudes</a>
      </div>
    </div>
</nav>

<figure class="text-center landing__container-title">
    <blockquote class="blockquote landing__title">
      <h1>Necesitas dinero</h1>
    </blockquote>
    <figcaption class="blockquote-footer">
      Tranquilo, te prestamos facil y rapido
    </figcaption>
    <a href="#formContent" class="btn btn-success btn-lg landing__button">Solicitar</a>
</figure>

<div class="container" id="formContent">
    <form [formGroup]="requestForm" (ngSubmit)="saveRequest()">
        <div class="row">
            <div class="col">
                <label class="form-label">Nombre  <span>*</span></label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col">
                <label class="form-label">Identificación  <span>*</span> </label>
                <input type="text" class="form-control" formControlName="identification">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Correo <span>*</span> </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="col">
                <label class="form-label">Valor solicitado <span>*</span> </label>
                <p style="color:red;" *ngIf="requestForm.controls.requestAmmount.errors && requestForm.controls.requestAmmount.dirty">El valor solicitado debe estar entre $10.000 y $100.000 </p>
                <input type="text" class="form-control" formControlName="requestAmmount">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Fecha a pagar</label>
                <input type="date" class="form-control" formControlName="dateToPay">
            </div>
        </div>
        <div class="row" style="padding: 1rem;">
            <button [disabled]="requestForm.invalid" class="btn btn-secondary btn-block">Soliciar ahora</button>
        </div>
    </form>
</div>