<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Fecha solicitud</th>
        <th scope="col">Monto solicitado</th>
        <th scope="col">Estado</th>
        <th scope="col" *ngIf="pendingPaied">Pendiente de pago</th>
        <th scope="col" *ngIf="pendingPaied">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataRequests">
        <th scope="row">{{item.id}}</th>
        <td>{{item.date | date}}</td>
        <td>{{item.ammount | currency}}</td>
        <td>
          <span class="badge rounded-pill bg-success" *ngIf="item.status == 1">Aprobado</span>
          <span class="badge rounded-pill bg-danger" *ngIf="item.status == 0">Rechazado</span>
        </td>
        <td  *ngIf="pendingPaied">
          <span class="badge rounded-pill bg-secondary"  *ngIf="item.loanPay == 1">No</span>
          <span class="badge rounded-pill bg-dark" *ngIf="item.loanPay == 0">Si</span>
        </td>
        <td  *ngIf="pendingPaied">
          <button class="btn btn-primary" (click)="payRequest(item)">Pagar</button>
        </td>
      </tr>
    </tbody>
</table>