<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Identificación</th>
        <th scope="col">Correo</th>
        <th scope="col">Ver solicitudes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td scope="row">{{user.name}}</td>
        <td>{{user.identification}}</td>
        <td>{{user.email}}</td>
        <td>
          <button class="btn btn-secondary" (click)="goToRequests(user.email)">Ver</button>
        </td>
      </tr>
    </tbody>
</table>