 <!-- Begin Page Content -->
 <div class="container">
     <div class="container-fluid">
    
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Página no encontrada</p>
            <p class="text-gray-500 mb-0">Oh no! Lo sentimos, no encontramos la página que esperabas.</p>
            <a href="#">&larr;Regresar a la pagina principal</a>
        </div>
    
    </div>
 </div>
<!-- /.container-fluid -->